<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bbs">
	<insert id="insert" parameterType="dto">
		insert into board values (#{cid}, #{sid}, #{comments})
	</insert>
	
	<delete id="delete" parameterType="dto">
		delete from board where cid = #{cid} 
	</delete>
	
	<update id="update" parameterType="dto">
		update board set comments = #{comments} where cid = #{cid}
	</update>
	
	<select id="select" parameterType="dto" resultMap="map">
		select * from board where cid = #{cid}
	</select>
	
	<select id="selectAll" resultMap="map">
		select * from board
	</select> 
	
	<resultMap type="dto" id="map">
		<result property="cid" column="cid"/>
		<result property="sid" column="sid"/>
		<result property="comments" column="comments"/>
	</resultMap>
	
	
	
	
	
	

</mapper>