<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

	<!-- 캘린더 사용자 추가 -->
	<select id ="addUser_Calendar" resultType="String">
		select userName
		from user
		where id = #{id}
	</select>
	
	<select id="loginIDCheck" resultType="String">
		select userName from user
		where id = #{id} 
	</select>
	<select id="loginPWCheck" resultType="String">
		select userName from user
		where pw=#{pw}
	</select>
	<select id ="viewMember" resultType="mdto">
		select userName,id,pw
		from user
		where id = #{id} and pw=#{pw}
	</select>
	
	<select id="select" parameterType="mdto" resultMap="resMap">
		select * from user where id = #{id}
	</select>
	<select id="selectAll" resultMap="resMap">
		select * from user
	</select>
	<resultMap type="mdto" id="resMap">
		<result property="id" column="id"/>
		<result property="pw" column="pw"/>
		<result property="userName" column="userName"/>
	</resultMap>
	
	<insert id="joinMember">
		insert into user values (#{id}, #{pw}, #{userName})
	</insert>
	<select id="joinCheck" resultType="String">
		select * from user where id = #{id}
	</select>
	<update id="update" parameterType="mdto">
		update user set pw = #{pw} where id = #{id}
	</update>	
	<delete id="delete" parameterType="mdto">
		delete from user where pw = #{pw}
	</delete>
</mapper>